/* ParentHome.css */
.parent-container {
  padding: 20px;
  background-color: #f9f9f9;
}

.navigation {
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 5px;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h2, h3 {
  color: #343a40;
}

p {
  color: #6c757d;
}


.profile{
  max-width: 150px;
}